.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
  padding-bottom: 42px;

  & h1 {
    @include heading;
    color: white;
    padding: 38px 0 8px 0;
  }

  &__text {
    font-size: 12px;
    color: #B9B9B9;
    padding: 0 10%;
    margin-bottom: 25px;
    text-align: center;
  }

  &__contacts_text {
    color: #B9B9B9;
    margin-bottom: 5px;
  }

  &__link-container {
    display: flex;
    padding-bottom: 25px;
    justify-content: space-between;
  }

  &__link {
    font-size: 30px;
    margin-right: 6px;
    & .fa-rss{
      color: darkorange;
    }
    & .fa-facebook{
      color: blue;
    }
    & .fa-twitter{
      color: deepskyblue;
    }
    & .fa-dribbble{
      color: pink;
    }
    & .fa-pinterest{
      color: red;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 481px) and (max-width: 992px){
  .footer{
    &__contacts{
      flex-direction: row;
    }
    & h1{
      font-size: 16px;
    }
    &__text{
      font-size: 16px;
    }
    &__contacts_text{
      font-size: 16px;
    }
  }
}
@media (min-width: 993px){
  .footer{
    &__contacts{
      flex-direction: row;
    }
    & h1{
      font-size: 16px;
    }
    &__text{
      font-size: 16px;
    }
    &__contacts_text{
      font-size: 16px;
    }
  }
}