.header {
  padding: 0 7%;
  margin-bottom: 38px;

  &__container-navbar {
    padding: 41px 0 43px 0;
    display: none;

    & ul {
      display: flex;
      justify-content: space-evenly;

    }

    &_item {
      color: #4E4E4E;
      text-decoration: none;
      letter-spacing: 1.1px;
      text-transform: uppercase;
      font-size: 11px;
    }

    &_item:focus {
      color: #57A4A4;
    }
  }

  &__container {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    box-sizing: border-box;

  }

  &__image {
    width: 100%;
  }
}

.burger {
  width: 17px;
  height: 2px;
  background-color: white;
  position: absolute;
  transition: 600ms left ease-out, 600ms transform ease-out, 600ms top ease-out;

  &__wrapper {
    width: 44px;
    height: 37px;
    position: relative;
    overflow: hidden;
    background-color: black;
    margin-bottom: 23px;
  }

  &__top {
    top: 30%;
    left: 30%;

    &--active {
      top: 50%;
      transform: rotate(45deg);
    }
  }

  &__mid {
    top: 50%;
    left: 30%;

    &--active {
      left: -100%;
      width: 0;
    }
  }

  &__bot {
    top: 70%;
    left: 30%;

    &--active {
      top: 50%;
      transform: rotate(-45deg);
    }
  }
}

.menu {
  width: 182px;
  height: 208px;
  background-color: #F5F5F5;
  display: none;
  position: absolute;
  top: 56px;

  &--toggle {
    display: block;
  }

  & ul {
    width: 100%;
  }

  & li {
    padding: 4% 0;
  }

  & li:hover &__item {
    color: #57A4A4;
  }

  & li:hover {
    background-color: #E5E5E5;
  }

  &__item {
    text-decoration: none;
    color: #4E4E4E;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    font-size: 11px;
    padding-left: 3%;
  }
}
@media (min-width: 481px) and (max-width: 992px) {
  .header {
    margin-bottom: 56px;
    &__container {
      display: none;
    }

    &__container-navbar {
      display: block;
    }
  }
}
@media (min-width: 993px) {
  .header {
    margin-bottom: 66px;
    &__container {
      display: none;
    }

    &__container-navbar {
      display: block;
    }
  }
}
