.last-shot {
  padding: 0 7%;

  & h1 {
    @include heading;
    margin-bottom: 13px;
  }

  &__instapage-text {
    color: #4E4E4E;
    text-decoration: none;
    display: none;
  }

  &__heading {
    display: flex;
    justify-content: space-between;
  }

  &__img-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 42px;
  }

  &__img {
    display: none;
  }

  &__img:first-child {
    display: block;
  }
}
@media (min-width: 481px) and (max-width: 992px){
  .last-shot{
    & h1{
      font-size: 16px;
    }
    &__img-container{
      flex-wrap: nowrap;
      justify-content: space-between;
    }
    &__img{
      display: flex;
      height: 250px;
      width: 250px;
      margin-right: 10px;
      & img{
        width: 100%;
        height: 100%;
      }
    }
    &__img:last-child{
      display: none;
    }
    &__instapage-text{
      display: block;
    }
  }
}
@media (min-width: 993px){
  .last-shot{
    & h1{
      font-size: 16px;
    }
    &__img-container{
      flex-wrap: nowrap;
      justify-content: space-between;
    }
    &__img{
      display: flex;
      height: 250px;
      width: 250px;
      margin-right: 10px;
      & img{
        width: 100%;
        height: 100%;
      }

    }
    &__img:last-child{
      display: block;
      margin-right: 0;
    }
    &__instapage-text{
      display: block;
    }
  }
}
