.recent-posts {
  padding: 0 7%;

  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  & h1 {
    @include heading;
    margin-bottom: 23px;
  }

  &__img_text {
    color: #4E4E4E;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
  }

  &__img_comment {
    @include comment;

    & a {
      @include comment;
      text-decoration: none;
    }
  }

  &__img_desc {
    color: #5C5C5C;
    display: none;
    line-height: 20px;
  }

  &__img {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 29px;
  }

}
@media (min-width: 481px) and (max-width: 992px){
  .recent-posts{
    & h1{
      font-size: 16px;
    }
    &__img_text{
      font-size: 16px;
    }
    &__img{
      & img{
        margin-right: 21px;
      }
    }
  }
}
@media (min-width: 993px){
  .recent-posts{
    &__container{
      justify-content: space-between;
    }
    & h1{
      font-size: 16px;
    }
    &__img_text{
      font-size: 16px;
    }
    &__img_desc{
      display: flex;
    }
    &__img{
      width: 50%;
      flex-wrap: nowrap;
      & img{
        margin-right: 21px;
      }
    }
  }
}